* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    animation: fade 5s ease-in-out infinite alternate;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.circlesWrapper {
    background-color: #fff;
    display: flex;
    height: 100%;
    filter: blur(10px) contrast(20);
    margin: auto;
    position: relative;
    width: 100%;
}

.circle {
    border-radius: 50%;
    height: calc(100vh / 13);
    position: absolute;
    width: calc(100vh / 13);
    border: calc(100vh / 13 / 2) solid transparent;
}

.circle1 { animation: horizontal 4s ease-in-out infinite alternate both; left: calc(100vh / 13 / -1); top: calc(100vh / 13 * 0.5); background-color: #A8E6CE; }
.circle2 { animation: horizontal 4.5s ease-in-out infinite alternate-reverse both; left: calc(100vh / 13 / -1); top: calc(100vh / 13 * 2.5); background-color: #FFD3B4; }
.circle3 { animation: horizontal 5s ease-in-out infinite alternate both; left: calc(100vh / 13 / -1); top: calc(100vh / 13 * 4.5); background-color: #FFABAB; }
.circle4 { animation: horizontal 5.5s ease-in-out infinite alternate-reverse both; left: calc(100vh / 13 / -1); top: calc(100vh / 13 * 6.5); background-color: #FFC3A0; }
.circle5 { animation: horizontal 6s ease-in-out infinite alternate both; left: calc(100vh / 13 / -1); top: calc(100vh / 13 * 8.5); background-color: #FF677D; }
.circle6 { animation: horizontal 6.5s ease-in-out infinite alternate-reverse both; left: calc(100vh / 13 / -1); top: calc(100vh / 13 * 10.5); background-color: #D4A5A5; }
.circle7 { animation: vertical 5s ease-in-out infinite alternate both; left: calc(100vw / 13 * 1); top: calc(100vh / 13 / -1); background-color: #392F5A; }
.circle8 { animation: vertical 5.5s ease-in-out infinite alternate-reverse both; left: calc(100vw / 13 * 3); top: calc(100vh / 13 / -1); background-color: #A5E1AD; }
.circle9 { animation: vertical 6s ease-in-out infinite alternate both; left: calc(100vw / 13 * 5); top: calc(100vh / 13 / -1); background-color: #D9BF77; }
.circle10 { animation: vertical 6.5s ease-in-out infinite alternate-reverse both; left: calc(100vw / 13 * 7); top: calc(100vh / 13 / -1); background-color: #C8D5B9; }
.circle11 { animation: vertical 7s ease-in-out infinite alternate both; left: calc(100vw / 13 * 9); top: calc(100vh / 13 / -1); background-color: #FFE4D7; }
.circle12 { animation: vertical 7.5s ease-in-out infinite alternate-reverse both; left: calc(100vw / 13 * 11); top: calc(100vh / 13 / -1); background-color: #A2A1D0; }

@keyframes horizontal {
    from { transform: translateX(0); }
    to { transform: translateX(100vw); }
}

@keyframes vertical {
    from { transform: translateY(0); }
    to { transform: translateY(100vh); }
}
